.CauseDetail .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--white);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    margin-top: -4.5rem;
    padding-top: 4rem;
    z-index: 1;
}

.share-link {
    color: var(--text-gray);
    margin: 2rem auto;
    padding: 0.5rem 0rem;
    text-align: center;
    text-decoration: underline;
    width: 50%;
}

.share-link svg {
    margin-right: 0.5rem;
}
