.profile-details {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0 3rem;
    position: relative;
}

.profile-details > div.form-status {
    margin-bottom: 0.75rem;
    -webkit-transform: translateX(75%);
    transform: translateX(75%);
}

.profile-details .Pill {
    text-align: center;
}

.user-details {
    width: 70%;
    margin-left: 1rem;
    flex-grow: 1;
}

.edit-profile-btns {
    align-items: center;
    display: flex;
    flex: 0 1 20%;
    flex-flow: column;
    padding-top: 0.5rem;
}
