.ProgressBar {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    margin: 2rem auto;
    padding: 0.5rem;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.percent-bar {
    background-color: var(--light-green);
    height: 30px;
    overflow: visible;
    transition: width 0.3s;
    position: absolute;
    left: 0.5rem;
    max-width: 95%;
}

.ProgressBar h3 {
    color: var(--dark-green);
    letter-spacing: 0.1rem;
    position: absolute;
    padding-left: 0.5rem;
}
