.topnav {
    background-color: var(--black-30);
    display: flex;
    height: 57px;
    /* convert back to space-between when adding the home button */
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 5;
}

.topnav .links {
    flex-basis: 15%;
    height: 100%;
    padding-top: 1rem;
    text-align: center;
}

.topnav svg {
    color: var(--white);
    font-size: 20px;
}

.topnav .menuLogo {
    flex-basis: 40%;
    padding-top: 0rem !important;
}

.topnav .menuButton {
    position: absolute;
    right: 1rem;
}

.topnav .menuLogo img {
    height: 100%;
}