.CauseInputs {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.CauseInputs input, .CauseInputs textarea, .CauseInputs select {
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 18px;
  margin: 0.75rem auto;
  padding: 0.75rem;
  width: 89%;
}

.CauseInputs textarea {
  height: 5rem;
}

.CauseInputs select {
  background-color: var(--white);
  width: 95%;
}

.CauseInputs input::placeholder, .CauseInputs textarea::placeholder {
  font-size: 1rem;
}

.CauseInputs select option {
  color: var(--text-gray);
  /* width: 50%; */
}
