.UserCauses h4 {
  border-bottom: 1px solid var(--light-gray);
  color: var(--bright-green);
  margin: 0 auto;
  padding-bottom: 0.75rem;
  width: 92%;
}

.UserCauses .CauseTile h4 {
  border: none;
  width: 100%;
}
