.UserCauses h4 {
  border-bottom: 1px solid var(--light-gray);
  color: var(--bright-green);
  margin: 0 auto;
  padding-bottom: 0.75rem;
  width: 92%;
}

.cause-icon {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 0.75rem;
  flex-basis: 75px;
  overflow-x: hidden;
}

.cause-icon img {
  width: 100%;
  height: 75px;
  overflow-x: hidden;
}
