.OrgDetails {
  margin: 2rem auto;
  width: 93%;
}

.OrgDetails div {
  margin-bottom: 2rem;
}

.OrgDetails h3 {
  border-bottom: 1px solid var(--light-gray);
  color: var(--bright-green);
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}

.OrgDetails p {
  color: var(--text-gray);
  line-height: 1.3rem;
  letter-spacing: 1px;
}

.OrgDetails a {
  color: var(--dark-green);
  font-size: 19px;
  display: block;
  margin-top: 1.5rem;
}
