/* dashboard colors and thier css variables

var(--black-30)        --> rgba(0,0,0,0.3)
var(--black-20)        --> rgba(0,0,0,0.2)
var(--black-10)        --> rgba(0,0,0,0.1)

var(--dark-gray)       --> rgba(96,96,96,1)      or   #606060
var(--text-gray)       --> rgba(112,112,112,1)   or   #707070
var(--light-gray)      --> rgba(221,221,221,1)   or   #ddd

var(--white)           --> rgba(255,255,255,1)   or   #fff
var(--white-85)        --> rgba(255,255,255,0.85)
*/

.Dashboard {
  min-height: 100vh;
  padding-bottom: 3rem;
}

.Dashboard .hero-image {
  background-image: url('../../Assets/Photography/jessica-lewis-512219.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-10%);
  height: 29vh;
  background-size: cover;
}

.Dashboard .hero-image h2 {
  color: var(--white);
  text-shadow: 3px 3px 8px rgba(0,0,0,0.8);
  letter-spacing: 2px;
  margin-top: 2rem;
}

.profile-image {
  position: relative;
  margin: -18% auto 0;
  text-align: center;
}

/* remove the border and icon after we can generate the user image */
.profile-image i {
  /* position: absolute; */
  background-color: var(--light-gray);
  border: 2px solid var(--bright-green);
  border-radius: 50%;
  color: var(--white);
  font-size: 48px;
  padding: 1.5rem;
}
