/* navbar and menu colors and thier css variables

var(--black-30)        --> rgba(0,0,0,0.3)
var(--black-20)        --> rgba(0,0,0,0.2)
var(--black-10)        --> rgba(0,0,0,0.1)

var(--dark-gray)       --> rgba(96,96,96,1)      or   #606060
var(--text-gray)       --> rgba(112,112,112,1)   or   #707070
var(--light-gray)      --> rgba(221,221,221,1)   or   #ddd

var(--white)           --> rgba(255,255,255,1)   or   #fff
var(--white-85)        --> rgba(255,255,255,0.85)
*/

.topnav {
  background-color: var(--black-30);
  display: flex;
  height: 57px;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.topnav .links {
  flex-basis: 15%;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
}

.topnav i {
  color: var(--white);
  font-size: 20px;
}

.topnav .menuLogo.links {
  flex-basis: 40%;
  padding-top: 0rem !important;
}

.topnav .menuLogo img {
  height: 100%;
}

.BaseLayout nav {
  background-color: var(--white);
  height: 100vh;
  padding: 2rem 0 0 2rem;
  position: fixed;
  transition: left 0.4s ease-in-out;
  width: 92.25vw;
  z-index: 5;
}

.navLinks {
  color: var(--blackish);
  font-size: 1.5rem;
  margin-bottom: 3rem;
  text-shadow: 5px 3px 15px rgba(0,0,0,0.3);
}

.navLinks i {
  margin-right: 2rem;
  width: 5%;
}

nav .menuLogo {

}

nav .menuLogo img {
  width: 50%;
  text-align: center;
}

nav .closeMenu {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.closeMenu i {
  font-size: 28px;
  text-shadow: 5px 3px 15px rgba(0,0,0,0.3);
}

@media screen and (min-width: 767px) {




}
