
.share-page {
  background-color: var(--bright-green);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  color: var(--white);
  margin: 1rem auto 3rem !important;
  padding: 0.75rem !important;
  width: 85% !important;
}

.share-link {
  color: var(--text-gray);
  margin-top: 1rem;
  text-align: center;
  text-decoration: underline;
}

.donate-link {
  background-color: var(--dark-green);
  color: var(--white);
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: auto !important;
}
