.MainImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--bright-green);
  box-shadow: 0.2rem 0.3rem 2.5rem rgba(0,0,0,0.5);
  height: 6.5rem;
  margin: -20% auto 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  top: -1rem;
  width: 6.5rem;
}
