.EmptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
}

.basket-icon img {
  height: 12%;
  width: 12%;
}

.EmptyCart .empty-message {
  margin-top: 24rem;
  text-align: center;
}

.EmptyCart h3 {
  color: var(--blackish);
  font-size: 1.4rem;
}

.EmptyCart h4 {
  color: var(--text-gray);
  font-size: 1.17rem;
  font-weight: 300;
  margin: 1.5rem auto;
  width: 50%;
}

.to-consider h3 {
  color: var(--text-gray);
  font-weight: 300;
}