.ImageUploaderControlled,
.profilePreview,
.profilePreview .fa-camera,
.coverPreview .fa-image,
.previewComponent .btns {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ImageUploaderControlled {
    width: 100%;
    flex-flow: row wrap;
    margin-bottom: 3rem;
    text-align: center;
}

.Banner {
    width: 100%;
}

.previewComponent .fa-image,
.previewComponent .fa-camera {
    color: var(--light-gray);
    font-size: 3rem;
}

.profilePreview,
.coverPreview,
.profilePreview .fa-image,
.profilePreview .fa-camera {
    position: relative;
}

.coverLabel {
    right: 3%;
    bottom: 5%;
}

.coverPreview {
    height: 29vh;
    position: relative;
}

.coverPreview p {
    color: var(--text-gray);
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
}

.coverPreview .image {
    border: var(--border);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29vh;
    width: 100vw;
}

.coverPreview .fa-image {
    height: 4rem;
    margin-top: 1.5rem;
    width: 4rem;
}

.coverPreview .banner-heading {
    color: var(--white);
    left: 0;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    text-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,1);
}

.coverPreview .FileInput {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.coverPreview .btns.danger {
    position: absolute;
    right: 3%;
    bottom: 25%;
}

.profilePreview .image {
    align-items: center;
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--bright-green);
    border-radius: 10%;
    box-shadow: 0.2rem 0.3rem 2.5rem rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    height: 6.5rem;
    top: -50px;
    width: 6.5rem;
    z-index: 1;
    transform: translateY(-50%);
    transition: border-radius 0.2s ease-in-out;
}

.profilePreview .image.circle {
    border-radius: 50%;
    transition: border-radius 0.2s ease-in-out;
}

.profile_btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translateY(60%);
}

.coverInput, .profileInput {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}
