.input-phone {
    border-style: none;
    color: var(--text-gray);
    font-size: 0.9rem; 
    width: 82%;
}

.input-phone::placeholder {
    color: var(--black-30);
}

.input-phone:disabled {
    background: 2px var(--white);
}
