.Pill {
    border-radius: 0.75rem;
    background-color: var(--light-gray);
    padding: 0.2rem 0.65rem;
    color: var(--white);
    margin: 0.35rem;
    font-size: 0.9rem;
    letter-spacing: 0.04rem;
    font-weight: bold;
}

.Pill svg {
    margin-right: 0.5rem;
}

.Pill.success {
    background-color: var(--light-green);
}

.Pill.info {
    background-color: var(--medium-blue);
}

.Pill.danger {
    background-color: var(--danger-65);
}

.Pill.active {
    background-color: var(--dark-green);
}