/* project colors and thier css variables ( declared below )
var(--danger)          --> rgba(255, 40, 40, 1)      or   #ff2828
var(--danger-65)       --> rgba(255, 40, 40, 0.65)

var(--dark-green)      --> rgba(0,140,73,1)      or   #008C49
var(--dark-green-85)   --> rgba(0,140,73,0.85)

var(--bright-green)    --> rgba(58,191,73,1)     or   #3ABF49
var(--bright-green-85) --> rgba(58,191,73,0.85)

var(--medium-green)    --> rgba(75,183,77,1)     or   #4BB74D

var(--light-green)     --> rgba( 172,209,71,1)   or   #ACD147
var(--light-green-85)  --> rgba( 172,209,71,0.85)

var(--blackish)        --> rgba(30,48,27,1)      or   #1E301B
var(--black-30)        --> rgba(0,0,0,0.3)
var(--black-20)        --> rgba(0,0,0,0.2)
var(--black-10)        --> rgba(0,0,0,0.1)

var(--dark-gray)       --> rgba(96,96,96,1)      or   #606060
var(--text-gray)       --> rgba(112,112,112,1)   or   #707070
var(--light-gray)      --> rgba(221,221,221,1)   or   #ddd

var(--white)           --> rgba(255,255,255,1)   or   #fff
var(--white-85)        --> rgba(255,255,255,0.85)

var(--border)          --> border:        1px solid var(--light-gray)
var(--border-radius)   --> border-radius: 5px
*/

:root {
  --danger:     #ff2828;
  --danger-65:  rgba(255, 40, 40, 0.65);
  --dark-green:        #008C49;
  --dark-green-85:     rgba(0,140,73,0.85);
  --bright-green:      #3ABF49;
  --bright-green-85:   rgba(58,191,73,0.85);
  --medium-green:      #4bb74d;
  --light-green:       #acd147;
  --light-green-85:    rgba( 172,209,71,0.85);
  --blackish:          #1e301b;
  --dark-gray:         #606060;
  --text-gray:         #707070;
  --black-30:          rgba(0,0,0,0.3);
  --black-20:          rgba(0,0,0,0.2);
  --black-10:          rgba(0,0,0,0.1);
  --light-gray:        #ddd;
  --white:             rgba(255,255,255,1);
  --white-85:          rgba(255,255,255,0.85);
  --main-font:         'Raleway', 'Futura', 'Century Gothic', sans-serif;

  --border:            1px solid var(--light-gray);
  --border-radius:     5px;
  --box-shadow:        0.2rem 0.2rem 1.5rem rgba(0,0,0,0.5);
  --mini-box-shadow:   0.2rem 0.2rem 1rem rgba(0,0,0,0.5);
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body, * {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}
