.Tile {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 0.3rem;
  padding-bottom: 1px;
  margin: 0.5rem 0.3rem;
}

.Tile img {
  width: 40px;
  height: 40px;
}

.Tile .tile-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--dark-green-85);
  color: var(--white);
  height: 40px;
  width: 40px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-radius 0.3s;
}

.tile-amount.isSelected {
  background-color: var(--light-green-85);
  border-radius: 5px;
  color: var(--blackish);
  transform: scale(1.3);
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-radius 0.3s;
}

.Tile.isPurchased {
  pointer-events: none;
}

.Tile.isPurchased p {
  opacity: 0;
}
