.Tile {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 0.3rem;
  padding-bottom: 1px;
}

.Tile img {
  width: 45px;
  height: 45px;
  position:

}

.Tile .tile-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--dark-green-85);
  color: var(--white);
  height: 45px;
  width: 45px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-radius 0.3s;
}

.tile-amount.isSelected {
  background-color: var(--light-green-85);
  border-radius: 5px;
  color: var(--dark-green);
  transform: scale(1.2);
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-radius 0.3s;
}

.Tile.purchased p {
  opacity: 0;
}
