.profile-details {
    display: flex;
    margin: 2.5rem 0;
}

.photo-upload {
    flex-basis: 30%;
    margin: 0 1rem;
}

.photo-upload .fa-image {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    font-size: 48px;
    color: var(--light-gray);
    align-self: flex-start;
    padding: 1.5rem;
}

.photo-upload div {
    color: var(--bright-green);
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    width: 100%;
}

.user-details {
    width: 70%;
    margin-left: 1rem;
    flex-grow: 1;
}

.edit-profile-btns {
    display: flex;
    flex: 0 1 20%;
    flex-flow: column;
    align-items: center;
}

.edit-profile-btns .btns {
    margin-bottom: 0.3rem;
}

.edit-ctas {
    border: 1px solid var(--white);
    /* border-radius: var(--border-radius); */
    /* background-color: var(--medium-green-10); */

    display: flex;
    flex-flow: column;
    font-size: 0.7rem;
    align-items: center;
    margin: 0 0 1rem;
    padding: 0.4rem;
    width: 70%;
}

.edit-ctas svg {
    margin-bottom: 0.25rem;
}

.edit-ctas p {
    color: var(--text-gray);
}
