.EmptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  min-height: 60vh;

  /* overflow: hidden; */
}

.EmptyCart .basket-icon {
  /* background: linear-gradient(155deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01) ); */
  background: url('../../../../Assets/Photography/Mobile/geometry.png');
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 50rem;
  margin: 0 auto;
  /* overflow: hidden; */
  position: fixed;
  width: 50rem;

  top: -60%;
  left: -47%;
  align-items: center;
  z-index: -1;
}

.basket-icon div {
  /* background-color: rgba(0, 0, 0, 0.07); */
  background-color: rgba(75,183,77,0.07);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.basket-icon img {
  bottom: -1rem;
  /* height: 70%; */
  /* opacity: 0.85; */
  position: absolute;
  /* width: 70%; */

  height: 12%;
  width: 12%;
}

.EmptyCart .empty-message {
  margin-top: 8rem;
  text-align: center;
}

.EmptyCart h3 {
  color: var(--blackish);
  font-size: 1.4rem;
}

.EmptyCart h4 {
  color: var(--text-gray);
  font-size: 1.17rem;
  font-weight: 300;
  margin: 1.5rem auto;
  width: 50%;
}

.to-consider h3 {
  color: var(--text-gray);
  font-weight: 300;
}

.EmptyCart .LinkButton {
  background-color: var(--bright-green);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 2rem auto;
  transform: scale(0.8);
  width: 62%;
}

.EmptyCart a {
  color: var(--white);
}
