.Login {
    background-image: url('../../Assets/Photography/Mobile/khendi-lee-25583.jpg');
    background-size: 300%;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 5;
}

.Login .sign-in {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto 2rem;
}

.sign-in .error-message {
    border-radius: var(--border-radius);
    color: var(--white);
    height: 1.25rem;
    margin-bottom: 0.75rem;
    padding: 0.2rem 0rem;
}

.sign-in input {
    border-radius: var(--border-radius);
    font-size: 24px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.sign-in .submit-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 0.5rem;
}

.submit-buttons .ActionButton {
    width: 40%;
}

.submit-buttons .ActionButton .log-in-button {
    background-color: var(--white);
    border-radius: var(--border-radius);
    color: var(--dark-green);
    padding: 0.5rem 0;
}

.submit-buttons .ActionButton .sign-up-button {
    background-color: var(--dark-green);
    border-radius: var(--border-radius);
    color: var(--white);
    padding: 0.5rem 0;
}

.sign-up-link,
.log-in-link {
    background-color: var(--black-30);
    border-radius: var(--border-radius);
    color: var(--white);
    padding: 0.2rem;
    text-transform: none !important;
    max-width: 80% !important;
}

.forgot-password {
    color: var(--white);
    font-size: 18px;
}

.Login h3 {
    color: var(--white);
    font-size: 24px;
    margin: 2rem 0;
}

.Login .facebook-login {
    background-color: var(--white-85);
    color: var(--dark-green);
    padding: 1.5rem 0rem !important;
    width: 80% !important;
}
