.InputGroup {
    display: flex;
    flex-direction: column;
}

.InputGroup input, 
.InputGroup textarea,
.InputGroup select {
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: 18px;
    margin: 0.75rem auto;
    padding: 0.75rem;
    width: 89%;
}

.InputGroup textarea {
    height: 5rem;
}

.InputGroup input::placeholder, 
.InputGroup textarea::placeholder {
    font-size: 1rem;
}

.InputGroup select {
    background-color: var(--white);
    width: 95%;
}

.InputGroup select option {
    color: var(--text-gray);
  /* width: 50%; */
}