.CheckoutForm {
    align-items: center;
    /* background: linear-gradient(var(--light-green), var(--dark-green)); */
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
    /* box-shadow: 0 0 25px 5px var(--black-20); */
    display: flex;
    justify-content: center;
    /* position: fixed; */
    width: 100%;
    height: 60vh;
    /* padding-bottom: 8rem; */
    z-index: 1;
    /* transform: skewY(-5deg);
    transition: all 0.5s ease; */

    /* background-color: var(--white); */
}

.CheckoutForm .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    width: 100%;
    /* transform: skewY(5deg);
    transition: all 0.3s ease; */
}

.CheckoutForm .card p {
    color: var(--blackish);
    margin-top: 1.5rem;
    text-align: center;
}

.CheckoutForm .fa-times-circle {
    color: var(--white);
    font-size: 1.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0rem;

    color: var(--dark-gray);
}

.CheckoutForm .stripe-field {
    margin: 0 0 0.75 0;
    padding-bottom: 0.5rem;
    width: 100%;
    border-bottom: 2px solid var(--bright-green);
}

.stripe-field input[type="email"],
.stripe-field input[name="address_zip"] {
    color: var(--text-gray);
    font-size: 1.1rem;
    width: 98%;
    height: 2rem;
    border: none;
}

.stripe-field input[type="email"]::placeholder {
    color: #AAA;
}

.CheckoutForm .card-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:100%;
}

.card-info .stripe-field {
    flex-basis: 45%;
}
