.CheckoutForm {
    align-items: center;
    /* background: linear-gradient(var(--light-green), var(--dark-green)); */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 0 25px 5px var(--black-20);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 52vh;
    padding-bottom: 8rem;
    z-index: 1;
    transform: skewY(-5deg);
    transition: all 0.5s ease;

    background-color: var(--white);
}

.CheckoutForm .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;
    width: 100%;
    transform: skewY(5deg);
    transition: all 0.3s ease;
}

.CheckoutForm .card p {
    color: var(--blackish);
    margin-top: 1.5rem;
    text-align: center;
}

.CheckoutForm .fa-times-circle {
    color: var(--white);
    font-size: 1.5rem;
    position: absolute;
    right: 0.5rem;
    top: 0rem;

    color: var(--dark-gray);
}

.CheckoutForm .stripe-field {
    border-bottom: 1px solid var(--white);
    margin: 0 auto;
    padding-bottom: 0.5rem;
    width: 85%;

    border-bottom: 2px solid var(--bright-green);
}

.stripe-field input[type="email"] {
    color: var(--text-gray);
    font-size: 1.2rem;
    width: 98%;
    height: 2rem;
}

.stripe-field input[type="email"]::placeholder {
    color: #AAA;
}

.CheckoutForm .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
}

.card-info .stripe-field {
    flex-basis: 28%;
}

.CheckoutForm .ActionButton {
    align-items: center;
    background: linear-gradient(170deg, var(--light-green), var(--dark-green));
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow) var(--medium-green-85);
    /* color: var(--blackish); */
    display: flex;
    height: 2.75rem;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    transition: all 0.3s ease;
    
    /* background-color: var(--white); */
    color: var(--white);
}

.CheckoutForm .ActionButton i {
    margin-right: 0.5rem;
    transform: scale(1.25);
}

.CheckoutForm .ActionButton.success {
    background: linear-gradient(var(--bright-green), var(--bright-green));
}

.CheckoutForm .ActionButton.failed {
    background: linear-gradient(var(--danger), var(--danger));
}