.App {
  background-image: url('../../Assets/Photography/Mobile/jens-johnsson-78101.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.App .sign-in {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.sign-in input {
  font-size: 24px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.sign-in .submit-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 0.5rem;
}

.submit-buttons .log-in-button {
  background-color: var(--white);
  color: var(--dark-green);
  width: 100%;
  padding: 1rem 0;
}

.submit-buttons .sign-up-button {
  background-color: var(--dark-green);
  color: var(--white);
   width: 100%;
   padding: 1rem 0;
}

.forgot-password {
  color: var(--white);
  font-size: 18px;
}

.App h3 {
  color: var(--white);
  font-size: 24px;
  margin: 2rem 0;
}

.App .facebook-login {
  background-color: var(--white-85);
  color: var(--dark-green);
  padding: 1.5rem 0rem !important;
  width: 80% !important;
}
