.ReceiptItem {
    display: flex;
    width: 92%;
    margin: 0 auto;
    padding: 1rem;
}

.ReceiptItem .image-wrapper {
    box-shadow: var(--mini-box-shadow);
    border-radius: var(--border-radius);
    flex: 0 0 22%;
    height: 5rem;
    overflow: hidden;
}

.ReceiptItem img {
    height: 100%;
    width: 100%;
}

.ReceiptItem .Info {
    flex: 0 0 80%;
    margin-left: 1rem;
    max-width: 78%;
}

.ReceiptItem .Info a {
    color: var(--blackish);
    text-decoration: none;
}

.ReceiptItem .Slider {
    margin-bottom: 0;
}

.ReceiptItem .Slider p {
    flex: 0 0 5%;
    width: 100%;
}
