.CartItem {
  /* background-color: rgba(0,0,0,0.03); */
  /* background-color: var(--medium-green-10); */
  /* border: var(--border); */
  /* border-radius: var(--border-radius); */
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 0.5rem auto;
  padding: 1rem;
  position: relative;
}

.CartItem .MainImage {
  border: none;
  /* box-shadow: none; */
  height: 5.5rem;
  width: 5.5rem;
  margin: 0;
  position: static;
}

.CartItem .itemInfo {
  color: var(--bright-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 65%;
}

.itemInfo h4 {
  color: var(--black-30);
  /* font-style: italic; */
  letter-spacing: 1px;
}

.itemInfo p {
  color: var(--blackish);
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.CartItem .clear {
  align-items: center;
  color: var(--danger-35);
  /* color: var(--black-30); */
  display: flex;
  font-size: 1.4rem;
  position: absolute;
  right: 0.5rem;
  top: 1.2rem;
  opacity: 0.9;
}

.clear p {
  opacity: 0.9;
  margin-right: 0.25rem;
  padding-bottom: 0.1rem;
  font-size: 1.1rem;
}
