.ProgressBar {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  margin: 1rem auto;
  padding: 0.5rem;
  position: relative;
  width: 90%;
}

.percent-bar {
  background-color: var(--light-green);
  padding: 0.8rem 0.5rem;
  overflow: visible;
  height: 20px;
}

.percent-bar h3 {
  position: absolute;
  color: var(--dark-green);
}
